.catalogueProductsWrapper {
    padding: 0 3rem;
    max-width: 70rem;
    margin: 0 auto 80px;
}

.catalogueProductsItemWrapper {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2,minmax(0,1fr));
    row-gap: 0.5rem;
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
}

.catalogueProductsItem {
    min-width: auto;
    list-style-type: none;
}

@media screen and (max-width: 600px) {
    .catalogueProductsWrapper {
        padding: 0 1.5rem;
    }
    .catalogueProductsItemWrapper {
        grid-template-columns: repeat(1 ,minmax(0,1fr));
    }
}